*.un~
*.clj~
*.cljs~
*.swo
*.swp
*.crx
*.js
*.sublime*
node_modules/*
dist
target/
repl/
art/
out/
resources/public/js/*
ext/chrome/.lein-repl-history
ext/chrome/.nrepl-port
ext/chrome/hicv/*
ext/chrome/.lein-classpath
ext/chrome/pom.xml
*.*~
.repl/


