.vbox {
  display: flex;
  flex-flow: column nowrap;
  width: 600px;
  margin: auto;
  justify-content: center;
}

.hbox {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 20px;
}

header {
  width: 200px;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #eee;
  padding: 20px 0 15px 0;
}
.caption {
  flex: 1 100%;
}
.urls  {
  flex: 1 50%;
  margin-top: 10px;
}
.desc {
  flex: 1 30%;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #979ca0;
  margin-left: 20px;
}
.options {
  flex: 1 30%;
  margin-top: 10px;
}
footer {
  margin-top: 10px;
}
