.vbox {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: left;
  margin: auto 20%;
  justify-content: flex-start;
}

.hbox {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}

header {
  font-size: 18px;
  font-weight: normal;
  width: 70%;
  border-bottom: 1px solid #eee;
  padding: 20px 0 15px 0;
}
.caption {
  flex: 1 100%;
  margin-top: 20px;
}
.urls  {
  flex: 1 40%;
  margin-top: 10px;
}
.desc {
  flex: 1 30%;
  margin: 10px 0 0 10px;
  line-height: 16px;
  color: #979ca0;
  font-size: 0.9rem;
  font-family: "Source Code Pro",sans-serif;
}
.options {
  flex: 1 40%;
  margin-top: 10px;
}
footer {
  margin-top: 10px;
}

code {
  color: #080;

}

