.box {
  flex-flow: row nowrap;
  justify-content: center;
  width: 360px;
}

.item {
  flex-basis: auto;
}

#popup_links ul {
  list-style: none;
  padding: 0px;
}

#popup_links a, #popup_links a:active, #popup_links a:visited {
  color: #3F6EC2;
  display: block;
  border-top: 1px solid #DDDDDD;
  padding: 3px;
  padding-left: 10px;
}

#popup_links a:hover {
  background: #EEEEEE;
}

#popup_links ul li {
  float: left;
}

#options_link #echo_link {
  font-family : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}